body {
  width: 970px;
  margin: 0 auto;
}
h1 {
  text-align: center;
}
p {
  display: inline;
  font-size: 30px;
}
.addtopanier {
  border: 1px solid rgb(255, 72, 0);
}
.container {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}
li {
  flex: 1 200px 1;
  text-transform: uppercase;
  list-style: none;
  background-color: rgba(111, 7, 143, 0.5);
  border-radius: 2px;
  padding-top: 5em;
  height: 120px;
  width: 230px;
  text-align: center;
}
li:hover {
  cursor: pointer;
}
.inline {
  display: inline;
}
